<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.PruebaAdoConnectionString"
            connectionString="Data Source=DESKTOP-P5BLGN9\SQLEXPRESS01;Initial Catalog=PruebaAdo;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>